

//Heebo-Black
@font-face {
  font-family: 'Heebo-Black';
  src: url('../fonts/Heebo-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Heebo-Black.woff') format('woff'), url('../fonts/Heebo-Black.ttf')  format('truetype'), url('../fonts/Heebo-Black.svg#Heebo-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Heebo-Bold
@font-face {
  font-family: 'Heebo-Bold';
  src: url('../fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Heebo-Bold.woff') format('woff'), url('../fonts/Heebo-Bold.ttf')  format('truetype'), url('../fonts/Heebo-Bold.svg#Heebo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Heebo-Medium
@font-face {
  font-family: 'Heebo-Medium';
  src: url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Heebo-Medium.otf')  format('opentype'),
	     url('../fonts/Heebo-Medium.woff') format('woff'), url('../fonts/Heebo-Medium.ttf')  format('truetype'), url('../fonts/Heebo-Medium.svg#Heebo-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Heebo-Regular
@font-face {
  font-family: 'Heebo-Regular';
  src: url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Heebo-Regular.woff') format('woff'), url('../fonts/Heebo-Regular.ttf')  format('truetype'), url('../fonts/Heebo-Regular.svg#Heebo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//UbuntuMono-Bold
@font-face {
  font-family: 'UbuntuMono-Bold';
  src: url('../fonts/UbuntuMono-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UbuntuMono-Bold.woff') format('woff'), url('../fonts/UbuntuMono-Bold.ttf')  format('truetype'), url('../fonts/UbuntuMono-Bold.svg#UbuntuMono-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//UbuntuMono-Regular
@font-face {
  font-family: 'UbuntuMono-Regular';
  src: url('../fonts/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/UbuntuMono-Regular.woff') format('woff'), url('../fonts/UbuntuMono-Regular.ttf')  format('truetype'), url('../fonts/UbuntuMono-Regular.svg#UbuntuMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

