/* Fonts */

//Helvetica
$hee-black: 'Heebo-Black', sans-serif;
$hee-bold: 'Heebo-Bold', sans-serif;
$hee-med: 'Heebo-Medium', sans-serif;
$hee-reg: 'Heebo-Regular', sans-serif;
$u-bold: 'UbuntuMono-Bold', sans-serif;
$u-reg: 'UbuntuMono-Regular', sans-serif;

/* Colors */
$accent: #111e5f;
$accent-text: #9fa5be ;
$white: #fff;
$black: #000;

